body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #6C737D;
        font-family: 'inter', sans-serif;
    }
 header{
    display: flex;
    background-color: #4B5058;
    height: 10%;
    width: 100%;
    
 }
nav{
    background-color:#41464D;
}
a{
    text-decoration: none;
    color:white;
    font-weight: bold; 
    font-size: 1.35rem;
}

ul{
    list-style: none;
    display: flex;
    
    align-items: center;
    height: 50px;
    
}

@media (max-width: 348px) {
    ul{
        flex-direction: column;
        height: 100%;
    }
    a{
        font-size: 1.5rem;
       
    }
    nav{
        
        background-color: #41464D;
        width: 50%;
        height: 100%;
        padding-top: 9rem;
        margin-top: -90px;
       
      
    }

    li{
        padding:0.2rem;
        
    }
  
}
